@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block; font-family: 'Nanum Barun Gothic', 'Noto Sans KR', sans-serif; font-size:16px; color:#666; line-height: 1.6;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;width:100%;}
img,fieldset{border:0;}
li img,dd img,dt img,label img{vertical-align:top;}
li{line-height:100%; list-style:none}
table{border-collapse:collapse;width:100%;}
input,select,textarea,button{ font-family: 'Nanum Barun Gothic', 'Noto Sans KR', sans-serif; font-size:16px; color:#666; line-height: 1.6;}
img,input,select{vertical-align:middle;}
address,caption,em{font-weight:normal;font-style:normal;}
hr{display:none;}

html{width:100%;}
body{width:100%; font-size:16px; color:#666; line-height:1.6; font-family: 'Nanum Barun Gothic', 'Noto Sans KR', sans-serif; }
a { color:#333; text-decoration:none; text-decoration:none; font-family: 'Nanum Barun Gothic', 'Noto Sans KR', sans-serif; font-size:16px; line-height: 1.6; color:#333; width:100%; height:100% }
p { color:#666; font-family: 'Nanum Barun Gothic', 'Noto Sans KR', sans-serif; font-size:16px; line-height: 1.6; text-decoration:none; text-decoration:none; }
a:visited,a:hover,a:active,a:focus{  }
caption,legend{ width:0; height:0; font-size:0; text-indent:-9999px;overflow:hidden; }

#skipNav a{ display:block; position:absolute; left:0; top:-10000px;text-align: center; width:100%; height:30px; z-index: 500; line-height:30px; font-weight:bold; font-size:14px; }
#skipNav a:hover,#skipNav a:focus,#skipNav a:active{ background:#ccc; top:0 }
h2,h3,h4,h5,h6{ font-family: 'Nanum Barun Gothic', 'Noto Sans KR', sans-serif; font-size:16px; color:#333; line-height: 1.3;}
.hide { width:0; height:0; margin:0; padding:0; position:absolute; left:0; top:0; font-size:0; text-indent:-9999px; overflow:hidden; visibility:hidden }
.cf:after { content:""; display:block; clear:both; visibility:hidden; width:0; height:0; font-size:0; }

::placeholder {
    color: #888;
    opacity: 1;
    }

    :-ms-input-placeholder {
        color: #888;
    }

    ::-ms-input-placeholder {
        color: #888;
    }


::selection { background: #222; color:#fff; }


/* header , flooter  */
#wrap { width: 100%; min-width:1600px; }
.inner { width: 1400px; margin: auto; position: relative; }

#header { width: 100%; border-bottom: 1px solid #dcdcdc; }
#header .inner { height: 75px; }
#header h1 { position: absolute; left: 0; top: 19px; }

#header .search-form { width: 260px; height: 30px; position: absolute; right: 65px; top: 25px; }
#header .search-form form { width: 260px; height: 30px; position: relative; }
#header .search-form form label {  }
#header .search-form form input { width: 200px; height: 25px; background: #efefef; border: none; border-radius: 25px; text-indent: 15px; outline: none; margin-right: 30px; display: block; }
#header .search-form form button { width: 25px; height: 25px; background-repeat: no-repeat; background-position: 50% 50%; background-image: url(../images/common/hd_search.png); border: none; display: block; position: absolute; right: 0; top: 0; cursor: pointer; background-color: transparent; }

#header .all-menu { position: absolute; right: 0; top: 22px; }
#header .all-menu i { font-size: 30px; cursor: pointer; }


#wrap .paging { position: fixed; right: 60px; top: 50%; transform: translateY(-50%); }
#wrap .paging ul {  }
#wrap .paging ul li { width: 10px; height: 10px; border-radius: 50%; background: #f9c21f; margin-bottom: 17px; cursor: pointer; }
#wrap .paging ul li.on::after { content:""; display: block; width: 22px; height: 22px; border: 1px solid #f9c21f; border-radius: 50%; position: relative; right: 7px; bottom: 7px; }


#container { height: 100%; }
#container::after { content:""; display: block; clear: both; }
#content {  }


#footer { width: 100%; background: #888; }
#footer .ft-top {  }
#footer .ft-top .inner { padding-top: 50px; padding-bottom: 25px; }
#footer .ft-top p { font-size: 14px; font-family: 'Noto Sans KR'; color:#fff; display: inline-block; cursor: pointer; }
#footer .ft-top p::after { content:""; display: inline-block; width: 1px; height: 10px; background: #dcdcdc; margin-left: 13px; margin-right: 10px; }
#footer .ft-top p:last-of-type::after { display: none; }

#footer .ft-top .family-site { position: absolute; right: 0; top: 50px; }
#footer .ft-top .family-site p { font-size: 14px; font-family: 'Noto Sans KR'; color:#fff; font-weight: 100; width: 150px; height: 25px; padding: 0 10px; box-sizing: border-box; border: 1px solid #efefef; box-sizing: border-box; padding: 0 10px; background: #888; cursor: pointer; }
#footer .ft-top .family-site p i { margin-left: 32px; }


#footer .ft-top .family-site ul { position: absolute; right: 0; bottom: 26px; display: none; }
#footer .ft-top .family-site ul li { width: 150px; height: 25px; }
#footer .ft-top .family-site ul li a { border: none; background: #888; font-size: 14px; font-family: 'Noto Sans KR'; color:#fff; font-weight: 100; width: 150px; height: 25px; display: block; padding: 0 10px; box-sizing: border-box; }



#footer .ft-bottom {  }
#footer .ft-bottom .inner { padding-bottom: 50px; }
#footer .ft-bottom p { line-height: 1.3; }
#footer .ft-bottom p em { font-size: 14px; font-family: 'Noto Sans KR'; color:#fff; font-weight: 100; margin-right: 15px; }
#footer .ft-bottom span { font-size: 13px; font-family: 'Noto Sans KR'; color:#fff; font-weight: 100; display: block; }
#footer .ft-bottom h2 { position: absolute; right: 0; top: 13px;  }

