/* main */
#mainVisual { width: 100%; position: relative; }
#mainVisual .main-visual { width: 100%; height: 55.556vw; position: relative; overflow: hidden; }
#mainVisual .main-visual li { width: 100%; background-repeat: no-repeat; background-position: 0 0; background-size: cover; height: 55.556vw; position: absolute; left: -100%; top: 0; }
#mainVisual .main-visual li:nth-child(1) { background-image: url(../images/main/main_visual_0.png); left: 0; }
#mainVisual .main-visual li:nth-child(2) { background-image: url(../images/main/main_visual_1.png); }
#mainVisual .main-visual li:nth-child(3) { background-image: url(../images/main/main_visual_2.png); }

#mainVisual .inner {  }
#mainVisual .visual-txt { position: absolute; right: 0; bottom: 27.778vw; }
#mainVisual .visual-txt ul { width: 77.778vw; height: 8.333vw; position: relative; }
#mainVisual .visual-txt ul li { position: absolute; right: 0; top: 0; text-align: right; opacity: 0; }
#mainVisual .visual-txt ul li:first-child { opacity: 1; }
#mainVisual .visual-txt ul li strong { font-size: 5.556vw; color:#00246a; letter-spacing: 0.417vw; font-weight: 600; font-family: 'Noto Sans KR'; display: block; line-height: 1.3; }

#mainVisual .btn { position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer; }
#mainVisual .btn i { font-size: 5.556vw; color:#fff; }
#mainVisual .prev { left: 5px; }
#mainVisual .next { right: 5px; }



.main { position: relative; }
.main .main-sec { width: 100%; }
.main .main-sec .inner { padding: 12.5vw 0; }
.main .main-sec h2 { font-size: 6.944vw; text-align: center; margin-bottom: 8.333vw; }

/* .reserve */
.main .reserve {  }
.main .reserve .inner {  }
.main .reserve .res-top { border-top: 1px solid #00246A; border-left: 1px solid #00246A; border-right: 1px solid #00246A; }
.main .reserve .res-top ul { display: flex; justify-content: space-between; }
.main .reserve .res-top ul li { font-size: 5vw; color:#333; width: 44.167vw; height: 9.722vw; box-sizing: border-box; text-align: center; line-height: 9.722vw; cursor: pointer; background: #f3f4f8; }
.main .reserve .res-top ul li.on { background: #00246A; color:#fff; }


.main .reserve .res-bottom { padding: 6.944vw 15.278vw 8.333vw 15.278vw; background: #fff; border: 1px solid #004a99; border-top: none; }
.main .reserve .res-bottom form { position: relative; }
.main .reserve .res-bottom form p { margin-bottom: 5.556vw; }
.main .reserve .res-bottom form p:nth-of-type(2) { margin-bottom: 0; position: absolute; right: 0; top: 21.667vw; }
.main .reserve .res-bottom form p:last-of-type { margin-top: 8.333vw; margin-bottom: 0; }

.main .reserve .res-bottom form p label { color:#333; display: block; margin-bottom: 2.778vw; }
.main .reserve .res-bottom form p input { width: 58.056vw; height: 9.722vw; border: 1px solid #c5def4; text-indent: 3.333vw; background-repeat: no-repeat; background-position: 50vw 50%; color:#666; outline: transparent; background-size: 3.889vw; box-sizing: border-box; }
.main .reserve .res-bottom form p:nth-of-type(1) input { background-image: url(../images/main/sec1_ico_0.png); }
.main .reserve .res-bottom form p:nth-of-type(3) input { background-image: url(../images/main/sec1_ico_0.png); }
.main .reserve .res-bottom form p:nth-of-type(4) input { background-image: url(../images/main/sec1_ico_1.png); }
.main .reserve .res-bottom form p:nth-of-type(5) input { background-image: url(../images/main/sec1_ico_2.png); }

.main .reserve .res-bottom form p button { border: none; background: transparent; cursor: pointer; }
.main .reserve .res-bottom form p:nth-of-type(2) button { width: 8.333vw; height: 7.222vw; background-repeat: no-repeat; background-position: 0 0; background-image: url(../images/main/sec1_change.png); background-size: cover; }
.main .reserve .res-bottom form p:last-of-type button { width: 58.333vw; height: 9.722vw; background: #00246a; color:#fff; }

.main .reserve .res-bottom form p select { width: 58.056vw; height: 9.722vw; border: 1px solid #c5def4; -webkit-appearance: none; -moz-appearance: none; appearance : none; text-indent: 3.333vw; background-repeat: no-repeat; background-position: 50vw 50%; color:#666; outline: transparent; background-image: url(../images/main/sec1_ico_3.png); background-size: 3.889vw; box-sizing: border-box; }


/* .lowest */
.swiper-container { width: 100%; height: 100%; }
.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; }

.main .lowest .swiper-container { height: 120.833vw; }
.main .lowest .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction { bottom:0; }
.main .lowest .swiper-wrapper { height: 111.111vw; }
.main .lowest .swiper-slide { text-align: left; }


.main .lowest {  }
.main .lowest .inner { padding-top: 0; }
.main .lowest h2 { color:#666; }

.main .lowest a { display: block; width: 88.889vw; height: 111.111vw; position: relative; }
.main .lowest a > img {  }
.main .lowest a .low-txt { width: 88.889vw; height: 30.556vw; background: rgba(51,51,51,0.6); padding: 6.944vw 0; padding-left: 8.333vw; box-sizing: border-box; position: absolute; left: 0; bottom: 0; }
.main .lowest a .low-txt p { font-family: 'Noto Sans KR'; color:#fff; margin-bottom: 5vw; text-align: left; }
.main .lowest a .low-txt p span { font-size: 4.722vw; color:#fe93a2; font-weight: 500; }
.main .lowest a .low-txt strong { font-weight: 600; font-size: 5vw; color:#fff; }
.main .lowest a .low-txt img { width: 4.167vw; height: 2.222vw; display: inline-block; margin-bottom: 1.389vw; }



/* .notice */
.main .notice { background-repeat: no-repeat; background-position: 0 0; background-image: url(../images/main/sec3_bg.png); background-size: contain; }
.main .notice .inner {  }
.main .notice h2 { color:#fff; line-height: 1.2; }

.main .notice .notice-content { padding-top: 6.944vw; }
.main .notice .notice-content ul { margin-bottom: 8.333vw; }
.main .notice .notice-content ul li { width: 88.889vw; height: 19.444vw; box-sizing: border-box; margin-bottom: 6.944vw; padding-bottom: 6.944vw; border-bottom: 1px solid #dcdcdc; }
.main .notice .notice-content ul li a { display: block; width: 88.889vw; height: 19.444vw; position: relative; }
.main .notice .notice-content ul li a strong { color:#444; font-size: 3.889vw; display: block; width: 15.278vw; height: 12.778vw; text-align: center; }
.main .notice .notice-content ul li a strong em { color:#777; font-size: 5vw; display: block; margin-bottom: 1.389vw; }
.main .notice .notice-content ul li a p { width: 59.722vw; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; position: absolute; right: 0; top: 3.611vw; }


.main .notice .notice-content .view-more { text-align: center; }
.main .notice .notice-content .view-more a { font-family: 'Noto Sans KR'; border: 1px solid #004a99; display: block; color:#004a99; width: 41.667vw; height: 9.722vw; line-height: 9.722vw; margin: auto; font-size: 4.167vw; }



/* .trip */
.main .trip { background: #f8f9fc; }
.main .trip .inner {  }
.main .trip h2 { color:#444; }

.main .trip .ready { display: flex; justify-content: space-between; flex-wrap: wrap; }
.main .trip .ready li { width: 41.667vw; height: 41.667vw; margin-bottom: 5.556vw; }
.main .trip .ready li:nth-child(3) { margin-bottom: 0; }
.main .trip .ready li:nth-child(4) { margin-bottom: 0; }
.main .trip .ready li a { width: 41.667vw; height: 41.667vw; display: block; border: 1px solid #004a99; color:#004a99; box-sizing: border-box; background-repeat: no-repeat; background-color: #fff; }

.main .trip .ready li:nth-child(1) a { background-image: url(../images/main/sec4_blue_ico_0.png); background-position: 50% 12.222vw; background-size: 15.278vw; }
.main .trip .ready li:nth-child(2) a { background-image: url(../images/main/sec4_blue_ico_1.png); background-position: 50% 11.111vw; background-size: 10vw; }
.main .trip .ready li:nth-child(3) a { background-image: url(../images/main/sec4_blue_ico_2.png); background-position: 50% 13.889vw; background-size: 16.667vw; }
.main .trip .ready li:nth-child(4) a { background-image: url(../images/main/sec4_blue_ico_3.png); background-position: 50% 11.111vw; background-size: 10.556vw; }

.main .trip .ready li a h3 { color:#004a99; margin-top: 30.556vw; text-align: center; font-size: 5vw; }


/* sub1 */
/* introduce */
.introduce-nav { width: 100%; }
.introduce-nav ul { display: flex; }
.introduce-nav ul li { width: 33.333vw; height: 8.333vw; text-align: center; color:#888; font-size: 4.167vw; line-height: 8.333vw; cursor: pointer; }
.introduce-nav ul li.on { color:#333; border-bottom: 1px solid #e6001f; }


.introduce {  }
.introduce .intro-sec { width: 100%; }
.introduce .intro-sec .inner { padding: 12.5vw 0; }
.introduce .intro-sec h2 { text-align: center; font-size: 6.944vw; color:#444; margin-bottom: 8.333vw; }

/* .greeting */
.introduce .greeting {  }
.introduce .greeting .inner {  }
.introduce .greeting h2 {  }

.introduce .greeting ul {  }
.introduce .greeting ul li {  }
.introduce .greeting ul li:first-child { width: 88.889vw; height: 55.556vw; margin-bottom: 2.778vw; }
.introduce .greeting ul li img { width: 100%; }
.introduce .greeting ul li .greeting-txt { width: 88.889vw; height: 77.778vw; overflow: auto; padding: 0 2.778vw; box-sizing: border-box; }
.introduce .greeting ul li .greeting-txt p { line-height: 1.4; color:#333; margin-bottom: 2.778vw; }
.introduce .greeting ul li .greeting-txt p:first-child { font-weight: 600; }
.introduce .greeting ul li .greeting-txt p:last-child { font-weight: 600; margin-bottom: 0; }


/* .philosophy */
.introduce .philosophy { width: 100%; background-color: #f8f9fc; }
.introduce .philosophy .inner {  }
.introduce .philosophy h2 {  }
.introduce .philosophy strong { font-size: 5vw; color:#555; text-align: center; display: block; margin-bottom: 5.556vw; }

.introduce .philosophy ul {  }
.introduce .philosophy ul li { width: 83.333vw; height: 22.222vw; border-radius: 13.889vw; background: #c5def4; box-sizing: border-box; margin: auto; padding-top: 5.556vw; margin-bottom: 2.778vw; }
.introduce .philosophy ul li:last-child { margin-bottom: 0; }
.introduce .philosophy ul li p { color:#00246a; text-align: center; }
.introduce .philosophy ul li p:first-child { font-family: 'Noto Sans KR'; font-size: 4.167vw; margin-bottom: 2.778vw; }

/* business */
.introduce .business {  }
.introduce .business .inner {  }
.introduce .business h2 {  }

.introduce .business ul {  }
.introduce .business ul li { display: flex; justify-content: space-between; margin-bottom: 5.556vw; }
.introduce .business ul li:last-child { margin-bottom: 0; }
.introduce .business ul li .bus-img { width: 37.5vw; height: 27.778vw; }
.introduce .business ul li .bus-img img { width: 100%; }

.introduce .business ul li .bus-txt { width: 48.611vw; height: 27.778vw; }
.introduce .business ul li .bus-txt h3 { color:#333; margin-bottom: 2.778vw; }
.introduce .business ul li .bus-txt p { font-size: 4.167vw; width: 48.611vw; height: 19.444vw; overflow: auto; line-height: 1.3; padding-right: 2.778vw; box-sizing: border-box; }



/* sub2 */
.pay {  }
.pay .pay-sec { width: 100%; padding-bottom: 8.333vw; }
.pay .pay-sec .inner {  }
.pay .pay-sec em { color:#00246a; font-weight: 600; font-size: 4.167vw; }
.pay .pay-sec em::after { content:""; display: block; width: 22.222vw; height: 0.833vw; background: #00246a; }

.pay .pay-sec h3 { font-size: 4.722vw; font-weight: 600; color:#333; margin-left: 27.778vw; margin-top: -5.556vw; cursor: pointer; }

.pay .pay-sec .txt { padding: 0 2.778vw; display: none; padding-top: 8.333vw; }
.pay .pay-sec .txt p { color:#555; line-height: 1.6; margin-bottom: 3.333vw; }
.pay .pay-sec .txt p:last-of-type { margin-bottom: 0; }
.pay .pay-sec .txt ul {  }
.pay .pay-sec .txt ul li { margin-left: 5.556vw; font-weight: 100; }

.pay .pay-sec .txt .more { color:#004a99; width: 58.333vw; height: 11.111vw; border: 1px solid #004a99; text-align: center; line-height: 11.111vw; margin-top: 6.944vw; cursor: pointer; box-sizing: border-box; }


/* .korair-card */
.pay .korair-card {  }
.pay .korair-card .inner { padding-top: 12.5vw; }
.pay .korair-card .txt { display: block; }
.pay .korair-card .txt p:last-of-type { margin-top: 3.333vw; }
.pay .korair-card .txt ul {  }
.pay .korair-card .txt ul li { line-height: 1.6; }

/* kor-card */
.pay .kor-card {  }
.pay .kor-card .inner {  }

/* not-kor */
.pay .not-kor {  }
.pay .not-kor .inner {  }
.pay .not-kor .txt {  }

.pay .not-kor .txt ul { margin-top: 5.556vw; }
.pay .not-kor .txt ul li {  }
.pay .not-kor .txt ul li strong { font-size: 4.167vw; font-family: 'Noto Sans KR'; }
.pay .not-kor .txt ul li .card-more { margin-top: 1.389vw; margin-bottom: 2.778vw; }
.pay .not-kor .txt ul li .card-more a { color:#00246a; font-size: 3.889vw; font-weight: 600; font-family: 'Noto Sans KR'; }

/* simple */
.pay .simple {  }
.pay .simple .txt {  }
.pay .simple .txt ul {  }
.pay .simple .txt ul li { color:#00246a; font-weight: 400; margin-bottom: 2.778vw; }

/* set */
.pay .set {  }
.pay .set .inner { padding-bottom: 12.5vw; }
.pay .set em { opacity: 0; }
.pay .set em::after { background: #e6001f; }



/* sub3 */
/* prepare */
.baggage {  }
.baggage .bag-sec { width: 100%; }
.baggage .bag-sec .inner { padding: 12.5vw 0; }
.baggage .bag-sec h2 { font-size: 6.944vw; color:#444; text-align: center; margin-bottom: 8.333vw; }


.baggage .prepare { background: #f8f9fc; }
.baggage .prepare .inner {  }
.baggage .prepare h2 {  }

.baggage .prepare ul {  }
.baggage .prepare ul li { width: 88.889vw; }
.baggage .prepare ul li img { width: 100%; }

.baggage .prepare ul li div { width: 83.333vw; padding: 5.556vw 2.778vw; background: #fff; margin: 0 auto; box-sizing: border-box; position: relative; top: -8.333vw; }
.baggage .prepare ul li div h3 { color:#555; text-align: center; margin-bottom: 5.556vw; }
.baggage .prepare ul li div p { margin-bottom: 2.778vw; line-height: 1.3; }
.baggage .prepare ul li div p:last-of-type { margin-bottom: 0; }

.baggage .prepare ul li div .more { margin-top: 5.556vw; text-align: right; }
.baggage .prepare ul li div .more a { font-size: 4.167vw; color:#00246a; border-bottom: 1px solid #00246a; font-family: 'Noto Sans KR'; }


/* price */
.baggage .price {  }
.baggage .price .inner {  }
.baggage .price h2 {  }

.baggage .price p { margin-bottom: 5.556vw; }
.baggage .price p:last-of-type { margin-bottom: 0; }

.baggage .price .more { color:#004a99; width: 62.222vw; height: 9.722vw; border: 1px solid #004a99; text-align: center; line-height: 9.722vw; cursor: pointer; margin-left: 26.389vw; }


