#visual { width: 100%; height: 92rem; }
#visual .visual-img { width: 100%; position: relative; }
#visual .visual-img li { width: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 92rem; position: absolute; left: 0; top: 0; display: none; }
#visual .visual-img li:first-child { display: block; }
#visual .visual-img li:nth-child(1) { background-image: url(../images/main/sk_visual_1.jpg); }
#visual .visual-img li:nth-child(2) { background-image: url(../images/main/sk_visual_2.jpg); }
#visual .visual-img li:nth-child(3) { background-image: url(../images/main/sk_visual_3.jpg); }

#visual .inner { width: 83.333%; }
#visual .txt { padding-top: 34rem; margin-bottom: 24rem; }
#visual .txt ul { position: relative; }
#visual .txt ul li { position: absolute; left: 0; top: 0; display: none; }
#visual .txt ul li:first-child { display: block; }
#visual .txt ul li h2 { color:#fff; font-size: 6rem; font-weight: 600; }
#visual .txt ul li p { color:#fff; font-size: 3rem; line-height: 1.5; font-weight: 100; }

#visual .paging { display: flex; }
#visual .paging ul { font-size: 0; padding-top: 0.2rem; }
#visual .paging ul li { width: 1.2rem; height: 1.2rem; background: #dcdcdc; border-radius: 50%; cursor: pointer; display: inline-block; margin-right: 1rem; }
#visual .paging ul li.on { width: 3.5rem; border-radius: 2.5rem; background: #e1002a; }
#visual .paging .btn { font-size: 0;  }
#visual .paging .btn i { color:#fff; font-size: 1.5rem; cursor: pointer; }



.main {  }
.main .main-sec { width: 100%; }
.main .main-sec .inner {  }

.main .introduce {  }
.main .introduce .inner { width: 83.333%; padding-top: 8rem; padding-bottom: 13rem; }
.main .introduce ul { display: flex; justify-content: space-between; }
.main .introduce ul li { width: 31.25%; position: relative; overflow: hidden; }
.main .introduce ul li a { display: block; }
.main .introduce ul li a img { width: 100%; transition: 0.5s; }
.main .introduce ul li:hover a img { transform: scale(1.1); }
.main .introduce ul li a div { position: absolute; left: 50%; transform: translateX(-50%); top: 10rem; text-align: center; }
.main .introduce ul li a div h3 { font-size: 4rem; font-weight: 500; color:#fff; margin-bottom: 1rem; }
.main .introduce ul li a div p { font-size: 2.5rem; color:#fff; white-space:nowrap; font-weight: 300; }


.main .media {  }
.main .media .inner { width: 83.333%; padding-bottom: 8rem; }
.main .media h2 { font-size: 3.5rem; color:#d01029; font-weight: 600; margin-bottom: 3rem; }
.main .media .md-content { overflow: hidden; }
.main .media ul { display: flex; }
.main .media ul li { margin-right: 6rem; }
.main .media ul li:last-child { margin-right: 0; }
.main .media ul li div { width: 77rem; height: 52rem; position: relative; }
.main .media ul li div img { width: 100%; }
.main .media ul li div a { display: block; width: 100%; height: 11rem; background: rgba(51,51,51,0.7); position: absolute; left: 0; bottom: 0; font-size: 2.5rem; color:#fff; padding: 2rem; box-sizing: border-box; }

.main .media .btn-wrap { font-size: 0; position: absolute; right: 0; top: 0; }
.main .media .btn-wrap .btn { width: 4.5rem; height: 4.5rem; border: 1px solid #dcdcdc; box-sizing: border-box; background-repeat: no-repeat; background-position: 50% 50%; cursor: pointer; display: inline-block; margin-left: 1rem; }
.main .media .btn-wrap .prev { background-image: url(../images/main/slide_arrow_L.png); }
.main .media .btn-wrap .next { background-image: url(../images/main/slide_arrow_R.png); }
.main .media .btn-wrap .play { background-image: url(../images/main/sk_news_play.png); }



.main .info { background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; background-image: url(../images/main/sec3_bg.jpg); }
.main .info .inner { width: 72.91%; padding: 14.5rem 0; }
.main .info .txt {  }
.main .info .txt h2 { font-size: 6rem; color:#e1002a; font-weight: 600; margin-bottom: 2rem; padding-top: 4rem; }
.main .info .txt p { font-size: 2.4rem; font-weight: 100; color:#fff; }

.main .info .icons { position: absolute; right: 0; top: 14.5rem; }
.main .info .icons ul { display: flex;  }
.main .info .icons ul li { margin-left: 5.5rem; background-repeat: no-repeat; width: 21.5rem; height: 21.5rem; background-color: #ee7421; transition: 0.4s; }
.main .info .icons ul li:hover { transform: scale(1.1); background-color: #e1002a; }
.main .info .icons ul li:nth-child(1) { background-image: url(../images/main/sec3_1.png); background-size: 3.9rem 4.9rem; background-position: 50% 5rem; }
.main .info .icons ul li:nth-child(2) { background-image: url(../images/main/sec3_2.png); background-size: 5rem 5.6rem; background-position: 50% 4.5rem; }
.main .info .icons ul li:nth-child(3) { background-image: url(../images/main/sec3_3.png); background-size: 4.4rem 4.4rem; background-position: 50% 5.8rem; }
.main .info .icons ul li a { display: block; width: 21.5rem; height: 21.5rem; box-shadow: 1rem 1rem 1rem #222; }
.main .info .icons ul li a strong { color:#fff; font-size: 2.5rem; text-align: center; display: block; padding-top: 14rem; }



